$padding: 1.2em;


// colors
$bluish_marlin: #4661e6;
$neutral_gray: #f2f4ff;
$white: #ffffff;

// border-radius
$border_radius_link: 8px;
$subnav_color: #373F68;

// call to action
$call_to_action_purple: #C75AF6;
$call_to_action_mobile: #AD1FEA;