@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  font-family: 'Jost', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  background: transparent;
}

body, html {
  font-size: 16px;
  font-family: 'Jost', sans-serif;
  background: #f2f4ff;
}

a {
  text-decoration: none;
}

div.product-app-container a.pf-add-feedback {
  display: inline-block;
  padding: 0.7em 1.2em;
  background-color: #4661e6;
  color: #ffffff;
  border-radius: 8px;
}

div.product-app-container div.pf-go-back {
  padding: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.product-app-container div.pf-go-back a.pf-go-back-link {
  font-weight: bold;
}

div.product-app-container nav.pf-navigation {
  background: url(../assets/suggestions/mobile/background-header.png) no-repeat;
  background-size: cover;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
}

div.product-app-container nav.pf-navigation div.pf-navigation-title-container {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
}

div.product-app-container nav.pf-navigation div.pf-filter-container {
  width: 100vw;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 90px;
  left: 100vw;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

div.product-app-container nav.pf-navigation div.pf-filter-container.open {
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  left: 0;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container {
  background: #ffffff;
  position: relative;
  width: calc(100% * 0.8);
  height: calc(100vh - 80px);
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f4ff;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-filter, div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap {
  padding: 1.2em;
  background: #fff;
  width: 100%;
  border-radius: .8em;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1.2em;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-filter a {
  display: inline-block;
  padding: 0.5em 1.2em;
  margin-right: .7em;
  margin-bottom: .5em;
  background: #f2f4ff;
  color: #4661e6;
  border-radius: 8px;
  font-weight: bold;
  font-size: .9em;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-filter a.active {
  background: #4661e6;
  color: #ffffff;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 1.2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-head a {
  color: #4661e6;
  text-decoration: underline;
  font-size: .8em;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-types div.pf-roadmap-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.2em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-types div.pf-roadmap-type div.pf-type-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-types div.pf-roadmap-type div.pf-type-left span {
  height: 8px;
  width: 8px;
  display: inline-block;
  border-radius: 8px;
  margin-right: .4em;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-types div.pf-roadmap-type div.pf-type-left span.orange {
  background-color: #F49F85;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-types div.pf-roadmap-type div.pf-type-left span.purple {
  background-color: #AD1FEA;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-types div.pf-roadmap-type div.pf-type-left span.blue {
  background-color: #62BCFA;
}

div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-roadmap div.pf-roadmap-types div.pf-roadmap-type b {
  display: block;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: .8em;
}

div.product-app-container main.pf-main-container.pf-move-in {
  padding: 1.2em;
}

div.product-app-container main.pf-main-container div.pf-vertical-list {
  padding: 2em 1.2em;
  background: #f2f4ff;
}

div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-no-feedback {
  background-color: #ffffff;
  padding: 2em;
  text-align: center;
}

div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-no-feedback h1 {
  font-size: 18px;
}

div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-no-feedback p {
  font-size: 13px;
}

div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-no-feedback img, div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-no-feedback h1, div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-no-feedback p {
  margin-bottom: 1.2em;
}

div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-no-feedback a {
  display: inline-block;
  padding: 0.7em 1.2em;
  background-color: #C75AF6;
  color: #ffffff;
  border-radius: 8px;
}

div.product-app-container main.pf-main-container div.pf-comment-container div.pf-total-comments {
  padding: 1.2em;
  background: #ffffff;
}

div.product-app-container main.pf-main-container div.pf-comment-container div.pf-total-comments h1 {
  font-size: 24px;
}

div.product-app-container main.pf-main-container div.pf-suggestion {
  padding: 1.2em;
  display: -ms-grid;
  display: grid;
  background: #ffffff;
      grid-template-areas: "pf-details pf-details pf-details" "pf-upvote .  pf-comments";
  row-gap: 1em;
  margin-bottom: 1.2em;
  border-radius: 8px;
}

div.product-app-container main.pf-main-container div.pf-suggestion div.pf-details-container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pf-details;
  margin-bottom: 0.9em;
}

div.product-app-container main.pf-main-container div.pf-suggestion div.pf-details-container h2 {
  font-size: 20px;
}

div.product-app-container main.pf-main-container div.pf-suggestion div.pf-details-container h2, div.product-app-container main.pf-main-container div.pf-suggestion div.pf-details-container p, div.product-app-container main.pf-main-container div.pf-suggestion div.pf-details-container span.pf-category {
  margin-bottom: 0.9em;
}

div.product-app-container main.pf-main-container div.pf-suggestion div.pf-details-container span.pf-category {
  padding: 8px .8em;
  background: #f2f4ff;
  color: #4661e6;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 8px;
  font-size: .9em;
}

div.product-app-container main.pf-main-container div.pf-suggestion button.pf-upvote-button, div.product-app-container main.pf-main-container div.pf-suggestion span.pf-comments {
  padding: 0.4em 1.2em;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-width: 50px;
}

div.product-app-container main.pf-main-container div.pf-suggestion button.pf-upvote-button {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pf-upvote;
  padding: 0.7em 1.2em;
  background: #f2f4ff;
  border-radius: 8px;
}

div.product-app-container main.pf-main-container div.pf-suggestion span.pf-comments {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: pf-comments;
}

div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down div.pf-total-suggesstions {
  display: none;
  vertical-align: middle;
  margin-right: 10px;
}

div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down div.pf-total-suggesstions img {
  margin-right: 8px;
  width: 15px;
}

div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down div.pf-total-suggesstions b {
  font-size: 16px;
}

div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down span {
  color: #f2f4ff;
}

div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down span.a {
  margin-right: .3em;
}

div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down span.pf-value {
  margin-right: .5em;
  font-weight: bold;
}

div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down img {
  width: 12px;
}

@media screen and (min-width: 768px) {
  div.product-app-container main.pf-main-container {
    padding: 1.2em;
  }
  div.product-app-container main.pf-main-container div.pf-sub-nav {
    border-radius: 8px;
  }
  div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down {
    border-radius: 8px;
  }
  div.product-app-container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down div.pf-total-suggesstions {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  div.product-app-container main.pf-main-container div.pf-vertical-list {
    padding: 1.2em 0;
  }
  div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-suggestion {
        grid-template-areas: "pf-upvote pf-details pf-comments";
    -ms-grid-columns: min-content auto min-content;
        grid-template-columns: -webkit-min-content auto -webkit-min-content;
        grid-template-columns: min-content auto min-content;
    grid-gap: 24px;
  }
  div.product-app-container main.pf-main-container div.pf-vertical-list div.pf-suggestion button.pf-upvote-button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.2em 5px;
    min-width: 50px;
  }
  div.product-app-container nav.pf-navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 223px auto;
        grid-template-columns: 223px auto;
    gap: 10px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background: none;
    padding: 1.2em;
  }
  div.product-app-container nav.pf-navigation div.pf-navigation-title-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: url(../assets/suggestions/mobile/background-header.png) no-repeat;
    background-position: bottom;
    border-radius: 8px;
    background-size: cover;
    height: auto;
    padding-bottom: 3em;
  }
  div.product-app-container nav.pf-navigation div.pf-navigation-title-container button.pf-navigation-trigger {
    display: none;
  }
  div.product-app-container nav.pf-navigation div.pf-filter-container {
    position: static;
    height: auto;
    width: auto;
  }
  div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container {
    height: auto;
    gap: 10px;
    width: 100%;
    padding: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: static;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  div.product-app-container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-filter {
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=index.css.map */