@import "./reset";
@import "./variables";

div.product-app-container {


    // nmobile-navigation
     nav.pf-navigation {
        background: url(../assets/suggestions/mobile/background-header.png) no-repeat;
        background-size: cover;
        
        div.pf-navigation-title-container {
            height: 80px;
            display: flex;
            align-items: center;
            padding:0 $padding;
            justify-content: space-between;
            color: #fff;
        }

        div.pf-filter-roadmap-container {
            position: fixed;
            top: 80px;
            background: $white;
            width: 100vw * 0.7;
            left: 100vw;
            transition: .3s ease-in-out;
            &.open {
                transition: .3s ease-out;
                left: 100vw * 0.2;
                
            }
            div.pf-filter,div.pf-roadmap {
                padding: $padding;
            }

            div.pf-filter{
                display: flex;
                flex-wrap: wrap;
                a {
                    display: inline-block;
                    padding:.5em .9em;

                    margin-right: .7em;
                    margin-bottom: .5em;
                    background: $neutral_gray;
                    color: $bluish_marlin;
                    border-radius: $border_radius_link;
                    font-weight: bold;
                    font-size: .9em;
                    &.active {
                        background: $bluish_marlin;
                        color: $white;
                    }
                }
            }
            div.pf-roadmap {
                // display: flex;
            }
        }
     }
}