@media screen and (min-width: 768px) {
  div.product-app-container div.container main.pf-main-container {
    padding: 1.2em;
  }
  div.product-app-container div.container main.pf-main-container div.pf-sub-nav {
    border-radius: 8px;
  }
  div.product-app-container div.container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down {
    border-radius: 8px;
  }
  div.product-app-container div.container main.pf-main-container div.pf-sub-nav button.pf-custom-drop-down div.pf-total-suggesstions {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  div.product-app-container div.container main.pf-main-container div.pf-vertical-list {
    padding: 1.2em 0;
  }
  div.product-app-container div.container main.pf-main-container div.pf-vertical-list div.pf-suggestion {
        grid-template-areas: "pf-upvote pf-details pf-comments";
    -ms-grid-columns: min-content auto min-content;
        grid-template-columns: -webkit-min-content auto -webkit-min-content;
        grid-template-columns: min-content auto min-content;
    grid-gap: 24px;
  }
  div.product-app-container div.container main.pf-main-container div.pf-vertical-list div.pf-suggestion button.pf-upvote-button {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.2em 5px;
    min-width: 50px;
  }
  div.product-app-container div.container div.roadmap-container div.pf-sub-nav {
    border-radius: 9px;
  }
  div.product-app-container div.container div.roadmap-container div.pf-roadmap-nav {
    border-radius: 9px;
  }
  div.product-app-container div.container div.roadmap-container div.pf-content {
    width: 100%;
    position: static;
    grid-gap: 10px;
  }
  div.product-app-container div.container div.roadmap-container div.pf-content.planned, div.product-app-container div.container div.roadmap-container div.pf-content.In-Progress, div.product-app-container div.container div.roadmap-container div.pf-content.live {
    left: 0;
  }
  div.product-app-container div.container div.roadmap-container div.pf-content div.pf-r-container {
    padding: 1.2em 0;
  }
  div.product-app-container div.container nav.pf-navigation {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 223px auto;
        grid-template-columns: 223px auto;
    gap: 10px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    background: none;
    padding: 1.2em;
  }
  div.product-app-container div.container nav.pf-navigation div.pf-navigation-title-container {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background: url(../assets/suggestions/mobile/background-header.png) no-repeat;
    background-position: bottom;
    border-radius: 8px;
    background-size: cover;
    height: auto;
    padding-bottom: 3em;
  }
  div.product-app-container div.container nav.pf-navigation div.pf-navigation-title-container button.pf-navigation-trigger {
    display: none;
  }
  div.product-app-container div.container nav.pf-navigation div.pf-filter-container {
    position: static;
    height: auto;
    width: auto;
  }
  div.product-app-container div.container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container {
    height: auto;
    gap: 10px;
    width: 100%;
    padding: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    position: static;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  div.product-app-container div.container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container div.pf-filter {
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1440px) {
  div.product-app-container div.container {
    width: 1110px;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px auto;
        grid-template-columns: 300px auto;
    grid-gap: 8px;
  }
  div.product-app-container div.container div.container div.roadmap-container {
    width: 1100px;
    margin: 0 auto;
  }
  div.product-app-container div.container div.container div.roadmap-container div.pf-sub-nav {
    border-radius: 9px;
  }
  div.product-app-container div.container div.container div.roadmap-container div.pf-roadmap-nav {
    border-radius: 9px;
  }
  div.product-app-container div.container div.container div.roadmap-container div.pf-content {
    width: 100%;
    position: static;
    grid-gap: 10px;
  }
  div.product-app-container div.container div.container div.roadmap-container div.pf-content.planned, div.product-app-container div.container div.container div.roadmap-container div.pf-content.In-Progress, div.product-app-container div.container div.container div.roadmap-container div.pf-content.live {
    left: 0;
  }
  div.product-app-container div.container div.container div.roadmap-container div.pf-content div.pf-r-container {
    padding: 1.2em 0;
  }
  div.product-app-container div.container div.feedback-container-content {
    width: 730px;
    margin: 0 auto;
  }
  div.product-app-container div.container nav.pf-navigation {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  div.product-app-container div.container nav.pf-navigation div.pf-navigation-title-container {
    height: 200px;
    margin-bottom: 1em;
  }
  div.product-app-container div.container nav.pf-navigation div.pf-filter-container {
    position: static !important;
    height: auto;
    width: auto;
    background: transparent;
  }
  div.product-app-container div.container nav.pf-navigation div.pf-filter-container div.pf-filter-roadmap-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: min-content auto;
        grid-template-rows: -webkit-min-content auto;
        grid-template-rows: min-content auto;
  }
  div.product-app-container div.roadmap-container {
    width: 1110px;
    margin: 0 auto;
    padding-top: 1.2em;
  }
  div.product-app-container div.roadmap-container div.pf-sub-nav {
    border-radius: 10px;
  }
  div.product-app-container div.roadmap-container div.pf-content {
    width: auto;
    padding: 1.2em 0;
    position: static;
    row-gap: 10px;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  div.product-app-container div.roadmap-container div.pf-content div.pf-r-container {
    padding: 0;
  }
  div.product-app-container div.pf-f-container, div.product-app-container div.feedback-container-content {
    width: 700px;
    margin: 0 auto;
  }
  div.product-app-container div.pf-f-container div.pf-main-container, div.product-app-container div.feedback-container-content div.pf-main-container {
    padding: 1.2em 0;
  }
  div.product-app-container div.pf-f-container div.pf-main-container div.pf-form-container div.pf-action-container, div.product-app-container div.feedback-container-content div.pf-main-container div.pf-form-container div.pf-action-container {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "pf-delete . . pf-cancel pf-create-account";
    grid-gap: 5px;
  }
  div.product-app-container div.pf-f-container div.pf-main-container div.pf-form-container div.pf-action-container button, div.product-app-container div.feedback-container-content div.pf-main-container div.pf-form-container div.pf-action-container button {
    margin-bottom: 0;
  }
  div.product-app-container div.pf-f-container div.pf-main-container div.pf-form-container div.pf-action-container button.pf-create-account, div.product-app-container div.feedback-container-content div.pf-main-container div.pf-form-container div.pf-action-container button.pf-create-account {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    grid-area: pf-create-account;
  }
  div.product-app-container div.pf-f-container div.pf-main-container div.pf-form-container div.pf-action-container button.pf-cancel, div.product-app-container div.feedback-container-content div.pf-main-container div.pf-form-container div.pf-action-container button.pf-cancel {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: pf-cancel;
  }
  div.product-app-container div.pf-f-container div.pf-main-container div.pf-form-container div.pf-action-container button.pf-delete, div.product-app-container div.feedback-container-content div.pf-main-container div.pf-form-container div.pf-action-container button.pf-delete {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: pf-delete;
  }
}
/*# sourceMappingURL=mediaquery.css.map */