
@import "./media\ queries/screensize";
@import "./variables";
@media screen and (min-width: $tablets) {


    div.product-app-container {
        
        // main-container }
        
        div.feedback-container-content {

          div.pf-main-container {
            div.pf-comment-container {
              div.pf-comments{
                div.pf-comment-content {
                  div.pf-comment {
                    p.content {
                      padding-left: 60px;
                    }
                  }
                  div.pf-replies {
                    padding-left: 30px;
                  }
                  div.reply-container {
                    padding-left: 120px;
                  }
                }
              }
            }
          }
        }
        div.container {
            
            main.pf-main-container {
                padding: $padding;
                
                div.pf-sub-nav {
                    border-radius: 8px;
                        button.pf-custom-drop-down {
                        border-radius: 8px;
                        div.pf-total-suggesstions {
                            display: block ;
                            align-items: center;
                            margin-right: 10px;
                            
                        }
                    }
                }
                
                
                div.pf-vertical-list {
                    padding: $padding 0;
    
                    div.pf-suggestion {
                        grid-template-areas: "pf-upvote pf-details pf-comments";
                        grid-template-columns:min-content auto min-content;
                        grid-gap: 24px;
    
                        button.pf-upvote-button {
                            align-self: flex-start;
                            flex-direction: column;
                            padding: $padding 5px;
                            min-width: 50px;
                        }
                    }
                }
            }

            div.roadmap-container {
                div.pf-sub-nav {
                  border-radius: 9px;
                }
        
                div.pf-roadmap-nav {
                  border-radius: 9px;
                  div.pf-nav-top {
                  }
                }
        
                div.pf-content {
                  width: 100%;
                  position: static;
                  grid-gap: 10px;
                  &.planned,
                  &.In-Progress,
                  &.live {
                    left: 0;
                  }
        
                  div.pf-r-container {
                    padding: $padding 0;
                  }
                }
              }

            nav.pf-navigation {
                display: grid;
                grid-template-columns: 223px auto;
                gap: 10px;
                align-items: stretch;
                background: none;
                padding: $padding;
                div.pf-navigation-title-container {
                    align-items: flex-end;
                    background: url(../assets/suggestions/mobile/background-header.png) no-repeat;
                    background-position: bottom;
                    border-radius: 8px;
                    background-size:cover;
                    height: auto;
                    padding-bottom: 3em;
                    button.pf-navigation-trigger {
                        display: none;
                    }
                }
                div.pf-filter-container {
                    position: static;
                    height: auto;
                    width: auto;
                    div.pf-filter-roadmap-container {
                        height: auto;
                        gap: 10px;
                        width: 100%;
                        padding: 0;
                        align-items:stretch;
                        position: static;
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
    
                        div.pf-filter {
                            margin-bottom: 0;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $desktop) {

    div.product-app-container {

      div.feedback-container-content {

        main.pf-main-container {
          div.pf-comment-container {
            div.pf-comments{
              div.pf-comment-content {
                div.pf-comment {
                  p.content {
                    padding-left: 60px;
                  }
                }
                div.pf-replies {
                  padding-left: 30px;
                }
                div.reply-container {
                  padding-left: 120px;
                }
              }
            }
          }
        }
      }
        div.container {
            width: $desktop_screen_width;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 300px auto;
            grid-gap: 8px;

            div.container {
                div.roadmap-container {
                  width: 1100px;
                  margin: 0 auto;
                  div.pf-sub-nav {
                    border-radius: 9px;
                  }
          
                  div.pf-roadmap-nav {
                    border-radius: 9px;
                    div.pf-nav-top {
                    }
                  }
          
                  div.pf-content {
                    width: 100%;
                    position: static;
                    grid-gap: 10px;
                    &.planned,
                    &.In-Progress,
                    &.live {
                      left: 0;
                    }
          
                    div.pf-r-container {
                      padding: $padding 0;
                    }
                  }
                }
              }
            //   end

            div.feedback-container-content {
                width: 730px;
                margin: 0 auto;
            }
            nav.pf-navigation {
                grid-template-columns: 1fr;
                position: sticky;
                top: 0;
                left: 0;
                display: block;
                padding-left: 0;
                padding-right: 0;
                div.pf-navigation-title-container {
                    height: 200px;
                    margin-bottom: 1em;
                }
                div.pf-filter-container {
                    position: static !important;
                    height: auto;
                    width: auto;
                    background: transparent;
                    div.pf-filter-roadmap-container {
                        grid-template-columns: 1fr;
                        grid-template-rows: min-content auto;
                    }
                }
            }
        }

        div.roadmap-container {
          width: 1110px;
          margin: 0 auto;
          padding-top: $padding;

          div.pf-sub-nav {
            border-radius: 10px;
          }

          div.pf-content {
            width: auto;
            padding: $padding 0;
            position: static;
            row-gap: 10px;
            column-gap: 10px;
            div.pf-r-container {
              padding: 0;
            }
          }
        }
        div.pf-f-container, div.feedback-container-content {
          width: 700px;
          margin: 0 auto;

          div.pf-main-container {
            padding: 1.2em 0;

            div.pf-form-container {
              div.pf-action-container {
                display: grid;
                grid-template-areas: "pf-delete . . pf-cancel pf-create-account";
                grid-gap: 5px;
                button {
                  margin-bottom: 0;
                  &.pf-create-account {
                    grid-area: pf-create-account;
                    
                  }
  
                  &.pf-cancel {
                    grid-area: pf-cancel;
                  }
  
                  &.pf-delete {
                    grid-area: pf-delete;
                  }
                }

              }
            }
          }
        }
    }
}