@import "./variables";

$planned_color: #F49F85;
$inprogress_color: #AD1FEA;
$live_color: #62BCFA;


div.product-app-container {
overflow-x: hidden;

    div.pf-roadmap-nav {
        
        div.pf-nav-top {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            position: relative;
            margin-bottom: 1em;
            transition: border-bottom .5s;
            button.pf-switch {
                padding: 1.5em .8em;
                font-size: 14px;
                color: #888;
                font-weight: bold;
                border-bottom: 5px solid transparent;
                transition:border-bottom .2s .5s; 
                &.active {
                    color: black;
                    &:nth-child(1) {
                        border-bottom:5px solid $planned_color;
                    }
                    &:nth-child(2) {
                        border-bottom:5px solid $inprogress_color;
                    }
                    &:nth-child(3) {
                        border-bottom:5px solid $live_color;
                    }
                }
            }
        }
    }

    div.pf-state-details {
        padding: 0 $padding;
        h1 {
            font-size: 24px;
        }
    }
    
    div.pf-content {
        width: 300vw;
        display: grid;
        position: relative;
        grid-template-columns: repeat(3, 1fr);
        left: 0vw;
        transition: left .5s;
        &.Planned {
            left: 0;
        }
        &.In-Progress {
            left: -100vw;
        }

        &.Live {
            left: -200vw;
        }
        div.pf-r-container {
            padding: $padding;
            div.pf-roadmap {
                background: $white;
                padding: $padding;
                margin-bottom: 1.5em;
                border-radius: 8px;
                &.pf-orange {
    
                    border-top: 8px solid $planned_color;
                }
    
                &.pf-purple {
    
                    border-top: 8px solid $inprogress_color;
                }
    
                &.pf-blue {
    
                    border-top: 8px solid $live_color;
                }
    
                div.pf-r {
                    padding: .5em 0;
                    span.pf-color {
                        display: inline-block;
                        height: 10px;
                        width: 10px;
                        border-radius: 10px;
                        margin-right: .4em;
                        &.pf-orange {
                            background: $planned_color;
                        }
                        &.pf-purple {
                            background: $inprogress_color;
                        }
                        &.pf-blue {
                            background: $live_color;
                        }
                    }
                }
    
                div.pf-content-content {
                    h1.title {
                        font-size: 18px !important;
                        margin-bottom: 1em;
                    }
    
                    p {
                        font-size: 16px;
                        margin-bottom: 2em;
                    }
                }

                span.category {
                    padding: .6em;
                    background: $neutral_gray;
                    color: $live_color;
                    font-weight: bold; 
                    border-radius: 8px;
                }
                div.pf-upvote-category {
                    padding: $padding 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    button {
                        vertical-align:middle;
                        font-size: 1em;
                        padding:.4em .6em;
                        color: black;
                        font-weight: bold;
                        &.pf-upvote {
                            background: $neutral_gray;

                            img {
                                margin-right: .3em;
                            }
                        }

                        &.pf-comments {
                            img {
                                margin-right: .3em;
                            }
                        }
                    }
                }
            }
        }
    }
}

@import "./media\ queries/roadmap";