@import "./screensize";
$padding: 2em;

@media screen and (min-width: $tablets) {

    div.product-app-container {

        div.pf-main-container {
            padding:$padding;
    
            div.pf-form-container {
                width: 600px;
                margin: 0 auto;
            }
        }

        div.pf-go-back {
            width: 600px;
            margin: 0 auto;
        }
    }
}